
.App{
    width:310px;
    height: 544px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid red;
    margin: auto;
    margin-top: 50px;
    padding-top: 460px;
    padding-left: 83px;
    background-color:cadetblue;
  

    
    
}
.btn{
    background-color:blue;
    width: 140px;
    border-radius: 10px;
    color: white; 
}   
.shan{
 position: absolute;
 clip-path:circle();
    right: 0;
    left: 0;
    top: 0;
    bottom: 180px;
    margin: auto auto;
   
}

